@using EmployeeCapibilityDemonstration.ViewModels.Method
@model MethodViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Method </h1>


<hr />
<div class="row mt-4">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- MethodId will be passed as parameter in the controller-->
            <input type="hidden" asp-for="MethodId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label "></label>
                <input asp-for="Name" class="form-control mt-4" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3 mb-2 ">
                <input type="submit" value="Save Changes" class="btn btn-outline-info mr-2" />
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>



